*.log
*.pot
*.pyc
__pycache__
db.sqlite3
media
 
*.bak 

.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.Python build/ 
develop-eggs/ 
dist/ 
downloads/ 
eggs/ 
.eggs/ 
lib/ 
lib64/ 
parts/ 
sdist/ 
var/ 
wheels/ 
*.whl
*.egg-info/ 
.installed.cfg 
*.egg 
*.manifest 
*.spec 
 
pip-log.txt 
pip-delete-this-directory.txt 

.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 

spendingvenv
migrations
Song_Randomizer/settings.py
Song_Randomizer/tests.py